@import "../../utils/mixins";
@import "../../utils/variables";

.section {
  font-family: $FAMILY_MONT;
  font-size: 18px;
  .imgDiv {
    height: 500px;
  }
  .info {
    width: 60%;
    margin: 20px auto;
    @include flexBody(flex-start, 10px);
    flex-direction: column;
    .name {
      font-family: $FAMILY_POPPINS;
      font-size: 24px;
      font-weight: 600;
    }
    .address {
      @include flexBody(center, 5px, flex-start);
      width: 70%;
      .addIcon {
        color: green;
        font-size: 19px;
        width: 10%;
      }
      span {
        font-size: 16px;
      }
    }
    .typeDiv {
      @include flexBody(center, 20px);
      p {
        color: $WHITE;
        border-radius: 3px;
        padding: 4px 10px;
      }
      .type {
        background: $DARK_GOOGLE_RED;
      }
      .price {
        background: $DARK_GREEN;
        .lineThrough {
          text-decoration: line-through;
          font-size: 13px;
        }
      }
    }
    .ul {
      color: $BLACK;
      @include flexBody(center, 25px, flex-start);
      margin-top: 10px;
      span {
        @include flexBody();
      }
    }
    .contact {
      font-family: $FAMILY_MONT;
      background: $QUATERNARY_COLOR;
      border: 1px solid $QUATERNARY_COLOR;
      outline: none;
      color: $WHITE;
      padding: 15px 0px;
      width: 100%;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      font-size: 17px;
      margin-top: 10px;
      letter-spacing: 0.7px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
}
