@import "../../utils/mixins";
@import "../../utils/variables";

.section {
  font-family: $FAMILY_MONT;
  font-size: 18px;
  .imgDiv {
    height: 500px;
  }
  .info {
    width: 70%;
    margin: 20px auto;
    @include flexBody(flex-start, 10px);
    flex-direction: column;
    .name {
      font-family: $FAMILY_POPPINS;
      font-size: 24px;
      font-weight: 600;
    }
    .address {
      @include flexBody(center, 5px, flex-start);
      .addIcon {
        color: green;
      }
    }
    .type {
      @include flexBody(center, 15px);
      span {
        border-radius: 3px;
        padding: 4px 10px;
        color: $WHITE;
      }
      span:nth-child(1) {
        background: $DARK_GOOGLE_RED;
        text-transform: capitalize;
      }
      span:nth-child(2) {
        background: $DARK_GREEN;
      }
    }
    .ul {
      color: $BLACK;
      @include flexBody(center, 25px, flex-start);
      margin-top: 10px;
      span {
        @include flexBody();
      }
    }
    .contact {
      font-family: $FAMILY_MONT;
      background: $QUATERNARY_COLOR;
      border: 1px solid $QUATERNARY_COLOR;
      outline: none;
      color: $WHITE;
      padding: 12px 20px;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 0.7px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
}
