@import "../../utils/variables";
@import "../../utils/mixins";

main {
  .title {
    color: $BLACK;
    text-align: center;
    margin-top: 20px;
    font-family: $FAMILY_POPPINS;
  }
  .form {
    @include flexBody(flex-start, 15px);
    flex-direction: column;
    margin: 20px auto 0px auto;
    width: 350px;
    font-size: 18px;
    input {
      font-family: $FAMILY_MONT;
      width: calc(100% - 30px);
      border: none;
      outline: none;
      background: $WHITE;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .btn {
      font-family: $FAMILY_MONT;
      width: 100%;
      background: $QUATERNARY_COLOR;
      border: 1px solid $QUATERNARY_COLOR;
      outline: none;
      color: $WHITE;
      padding: 12px;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        color: $QUATERNARY_COLOR;
        border: 1px solid $QUATERNARY_COLOR;
        background: transparent;
      }
    }
    .text {
      font-size: 15px;
      .link {
        color: blue;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .form {
      width: 85%;
    }
  }
}
