@import "../../utils/variables";
@import "../../utils/mixins";

main {
  .title {
    color: $BLACK;
    text-align: center;
    margin-top: 20px;
    font-family: $FAMILY_POPPINS;
  }
  .form {
    width: 30%;
    margin: auto;
    padding: 10px;
    @include flexBody(center, 15px);
    flex-direction: column;
    .avatarImg {
      width: 80px;
      height: 80px;
      cursor: pointer;
      border-radius: 50%;
    }
    .uploadPercentage,
    .uploadSuccess {
      font-size: 11px;
      color: $GOOGLE_RED;
    }
    .uploadSuccess {
      color: $SUCCESS_BLUE;
    }
    input {
      font-family: $FAMILY_MONT;
      width: calc(100% - 30px);
      border: none;
      outline: none;
      background: $WHITE;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .btn,
    .link {
      font-family: $FAMILY_MONT;
      font-size: 14px;
      width: 100%;
      background: $QUATERNARY_COLOR;
      border: 1px solid $QUATERNARY_COLOR;
      outline: none;
      color: $WHITE;
      padding: 12px 0px;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.1s ease-in;
      text-transform: uppercase;

      &:hover {
        color: $QUATERNARY_COLOR;
        border: 1px solid $QUATERNARY_COLOR;
        background: transparent;
      }
    }
    .link {
      background: $DARK_GREEN;
      border: 1px solid $DARK_GREEN;
      text-align: center;
      text-decoration: none;
      &:hover {
        color: $DARK_GREEN;
        border: 1px solid $DARK_GREEN;
      }
    }
  }
  .text {
    width: 30%;
    margin: auto;
    @include flexBody(center, 0px, space-between);
    span {
      color: $GOOGLE_RED;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .listingDiv {
    width: 30%;
    margin: auto;
    margin-top: 15px;
    .listing_text {
      text-align: center;
      cursor: pointer;
      color: #56a057;
      font-weight: 600;
      transition: all 0.5s ease;
      &:hover {
        color: #387f39;
        text-decoration: underline;
      }
    }
    .allListings {
      margin: 20px 0px;
      @include flexBody(flex-start);
      flex-direction: column;
      .singleListing {
        width: calc(100% - 20px);
        border: 1px solid #888;
        border-radius: 3px;
        padding: 5px 10px;
        @include flexBody(flex-start);
        flex-direction: column;
        .name {
          text-transform: capitalize;
          cursor: pointer;
          font-weight: 500;
          letter-spacing: 0.6px;
          color: $BLACK;
          &:hover {
            text-decoration: underline;
          }
        }
        .singleListing_bottom {
          width: 100%;
          @include flexBody(center, 10px, space-between);
          .imgBanner {
            width: 160px;
            height: 80px;
            cursor: pointer;
          }
          .actionBtns {
            @include flexBody(flex-start);
            flex-direction: column;
            span {
              font-weight: 500;
              cursor: pointer;
            }
            span:nth-child(1) {
              color: $QUATERNARY_COLOR;
              &:hover {
                color: $DARK_QUATERNARY_COLOR;
              }
            }
            span:nth-child(2) {
              color: $GOOGLE_RED;
              &:hover {
                color: $DARK_GOOGLE_RED;
              }
            }
          }
        }
      }
    }
  }
}
