// $PRIMARY_COLOR: #dad3be;
// $SECONDARY_COLOR: #b7b597;
// $TERTIARY_COLOR: #6b8a7a;
// $DARK_TERTIARY_COLOR: #414945;
// $QUATERNARY_COLOR: #254336;
$PRIMARY_COLOR: #fff8f3;
$SECONDARY_COLOR: #f7e7dc;
$TERTIARY_COLOR: #758694;
$DARK_TERTIARY_COLOR: #59636b;
$QUATERNARY_COLOR: #405d72;
$DARK_QUATERNARY_COLOR: #304453;

$BLACK: #333;
$WHITE: #fff;
$DARK_BLACK: #000;

$GOOGLE_RED: #c84033;
$DARK_GOOGLE_RED: #962a20;
$SUCCESS_BLUE: #686b95;

$GREEN: #bec6a0;
$DARK_GREEN: #708871;

$FAMILY_POPPINS: "Poppins", sans-serif;
$FAMILY_MONT: "Montserrat", sans-serif;
